{% extends "dashboard/base.html" %}

    {% block title %}CAPSNET - Devices home{% endblock %}

{% block content %}
    <h3>Devices home</h3>
    <br><br>
    <h5>Devices</h5>
    {% for device in devices %}
        <a href="{% url 'devices:device_details' device.id %}">{{ device.seed_host_or_ip }}</a><br>
    {% endfor %}
    <br><br>
    <h5>Credentials</h5>
    {% for credential in credentials %}
        <a href="">{{ credential.username }}/{{ credential.password }}</a><br>
    {% endfor %}

{% endblock %}