{% extends "dashboard/base.html" %}

{% block stylesets %}

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Device Details - {{ device.common_name }}{% endblock %}

{% block content %}

    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Device Details</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Actions:</div>
            <a class="dropdown-item" href="#">Update inventory</a>
            <a class="dropdown-item" href="#">Run tool</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">Tools:</div>
            <a class="dropdown-item" href="#">Edit device</a>
            <a class="dropdown-item" href="#">Delete device</a>
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <table cellpadding=5>
            <tr>
                <td>Management IP</td>
                <td><b>{{ device.management_ip }}</b></td>
            </tr>
            <tr>
                <td>Hostname</td>
                <td><b>{{ device.hostname }}</b></td>
            </tr>
            <tr>
                <td>Vendor</td>
                <td><b>{{ device.vendor }}</b></td>
            </tr>
            <tr>
                <td>Model</td>
                <td><b>{{ device.model }}</b></td>
            </tr>
            <tr>
                <td>Software Version</td>
                <td><b>{{ device.software }}</b></td>
            </tr>
            <tr>
                <td>Device Type</td>
                <td><b>{{ device.device_type }}</b></td>
            </tr>
            <tr>
                <td>SSH/Telnet Credential</td>
                <td><b>{{ device.credential }}</b></td>
            </tr>
        </table>


    </div>

    </div>
            <a href="{% url 'devices:all_devices' %}">Back to All Devices</a>




{% endblock %}